/*fonts zodat ze bij de website zitten en geen websafe fonts nodig zijn*/
@font-face {
    font-family: okuba;
    src: url(fonts/gomarice_okuba_cloud.ttf);
}

@font-face {
    font-family: magic;
    src: url(fonts/Super\ Magic.ttf);
}

@font-face {
    font-family: webS;
    src: url(fonts/Web\ Serveroff.ttf);
}

@font-face {
    font-family: webS;
    src: url(fonts/Web\ Serveroff-Italic.ttf);
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: webS;
}

body {
    background-color: #0A7027;
    height: 667px;
    width: 375px;
}

.about {
    background-color: #C2E812;
}

.looks {
    background-color: #ffffff;
}

.how {
    background-color: #BFCBC2;
}

/* de headers van alle paginas */
h1 {
    font-family: magic;
    color: #ff934f;
    float: right;
    margin-right: 40px;
    font-size: 35px;
    font-weight: normal;
}

.about h1, .looks h1, .how h2 {
    color: #0A7027;
}

.how h1 {
    color: #ffffff;
}

h2 {
    font-family: magic;
    font-size: 40px;
    display: inline-block;
    padding-right: 40px;
}

.looks h2 , .about h3{
    color: #ff934f;
}

.about h2 {
    float: right;
    font-size: 35px;
    padding-right: 5px;
}

h3 {
    font-family: okuba;
    color: #0A7027;
    background-color: #C2E812;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    margin-top: 25px;
    float: right;
    transform: rotate(8deg);
}

header {
    height: 82px;
    text-align: center;
}

.about header {
    background-image: url(fotos/top.png);
    height: 220px;
}

.how header {
    background-image: url(fotos/how.png);
    height: 193px;
}

.looks header {
    background-image: url(fotos/round.png);
    height: 183px;
}

header img {
    margin-top: 5px;
}

header a {
    float: left;
}

.how header a {
    margin-top: 20px;
}

.looks header a {
    margin-top: 13px;
}

/* nav pagina */
nav, section {
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 170px 240px 175px;
}

nav a {
    font-family: magic;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

nav div:first-of-type a {
    transform: rotate(17deg);
    margin: 40px 75px 0 0;
    font-size: 35px;
}

nav div , section div {
    display: flex;
    align-items: center;
    justify-content: center;
} 

nav div:first-of-type {
    background-image: url(fotos/triangle.png);
    width: 318px;
    height: 252px;
    transform: rotate(9deg);
    margin-left: 10px;
}

nav div:nth-child(2) {
    background-image: url(fotos/cloud.png);
    height: 260px;
    width: 333px;
    margin-left: 50px;
    transform: rotate(-12deg);
}

nav div:last-of-type {
    width: 290px;
    height: 160px;
    background-color: #C2E812;
    border-radius: 50%;
    transform: rotate(6deg);
    margin-left: 30px;
}

/* how it works pagina */
.how section {
    grid-template-rows: 80px 165px 205px;
    margin-top: 25px;
}

.how div:first-of-type {
    background-image: url(fotos/one.png);
    width: 280px;
    height: 189px;  
}

.how div:nth-child(2) {
    background-image: url(fotos/two.png);
    width: 298px;
    height: 208px;
    margin-left: 65px;     
}

.how div:last-of-type {
    background-image: url(fotos/three.png);
    width: 302px;
    height: 205px;
}