/*fonts zodat ze bij de website zitten en geen websafe fonts nodig zijn*/
@font-face {
    font-family: okuba;
    src: url(fonts/gomarice_okuba_cloud.ttf);
}

@font-face {
    font-family: magic;
    src: url(fonts/Super\ Magic.ttf);
}

@font-face {
    font-family: webS;
    src: url(fonts/Web\ Serveroff.ttf);
}

@font-face {
    font-family: webS;
    src: url(fonts/Web\ Serveroff-Italic.ttf);
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    font-family: webS;
}

body {
    background-color: #0A7027;
    height: 667px;
    width: 375px;
}

.about {
    background-color: #C2E812;
}

.looks {
    background-color: #ffffff;
}

.how {
    background-color: #BFCBC2;
}

h1 {
    font-family: magic;
    color: #ff934f;
    float: right;
    margin-right: 40px;
    font-size: 35px;
    font-weight: normal;
}

h2 {
    font-family: magic;
}

h3 {
    font-family: okuba;
    color: #0A7027;
    background-color: #C2E812;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    margin-top: 25px;
    float: right;
    transform: rotate(8deg);
}

header {
    height: 82px;
    text-align: center;
}

header img {
    margin-top: 5px;
}

section {
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 170px 240px 175px;
}

a {
    font-family: magic;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

div:first-of-type a {
    transform: rotate(17deg);
    margin: 40px 75px 0 0;
    font-size: 35px;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
} 

div:first-of-type {
    background-image: url(fotos/triangle.png);
    width: 318px;
    height: 252px;
    transform: rotate(9deg);
    margin-left: 10px;
      
}

div:nth-child(2) {
    background-image: url(fotos/cloud.png);
    height: 260px;
    width: 333px;
    margin-left: 50px;
    transform: rotate(-12deg);
}

div:last-of-type {
    width: 290px;
    height: 160px;
    background-color: #C2E812;
    border-radius: 50%;
    transform: rotate(6deg);
    margin-left: 30px;
}