/*fonts zodat ze bij de website zitten en geen websafe fonts nodig zijn*/
@font-face {
    font-family: okuba;
    src: url(fonts/gomarice_okuba_cloud.ttf);
}

@font-face {
    font-family: magic;
    src: url(fonts/Super\ Magic.ttf);
}

@font-face {
    font-family: webS;
    src: url(fonts/Web\ Serveroff.ttf);
}

@font-face {
    font-family: webS;
    src: url(fonts/Web\ Serveroff-Italic.ttf);
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0A7027;
    height: 667px;
    width: 375px;
}

.about {
    background-color: #C2E812;
}

.looks {
    background-color: #ffffff;
}

.how {
    background-color: #BFCBC2;
}

/* de headers van alle paginas */
h1 {
    font-family: magic;
    color: #ff934f;
    float: right;
    margin-right: 40px;
    font-size: 35px;
    font-weight: normal;
}

.about h1, .looks h1, .how h2 {
    color: #0A7027;
}

.how h1 {
    color: #ffffff;
}

h2 {
    font-family: magic;
    font-size: 40px;
    display: inline-block;
    padding-right: 40px;
}

.looks h2 {
    color: #ff934f;
}

.about h2 {
    float: right;
    font-size: 35px;
    padding-right: 5px;
}

.looks h2 {
    padding-right: 25px;
}

main h3 {
    font-family: okuba;
    color: #0A7027;
    background-color: #C2E812;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    margin-top: 25px;
    float: right;
    transform: rotate(8deg);
}

.about h3 {
    font-family: okuba;
    background-image: url(fotos/small_cloud.png);
    width: 182px;
    height: 113px;
    font-size: 15px;
    margin: 30px 0 0 195px;
    transform: rotate(15deg);
    font-size: 14px;
    font-weight: normal;
}

header {
    height: 82px;
    text-align: center;
}

.about header {
    background-image: url(fotos/top.png);
    height: 220px;
}

.how header {
    background-image: url(fotos/how.png);
    height: 193px;
}

.looks header {
    background-image: url(fotos/round.png);
    height: 183px;
}

header img {
    margin-top: 5px;
}

header a {
    float: left;
}

.how header a {
    margin-top: 20px;
}

.looks header a {
    margin-top: 13px;
}
/* algemene dingentjes */
h4 {
    font-size: 13px;
    font-family: okuba;
    font-weight: normal;
}

p {
    font-family: webS;
    font-size: 17px;
}

section {
    overflow: hidden;
}

/* NAV PAGINA */
ul, section {
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 170px 240px 175px;
}

nav a {
    font-family: magic;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

nav li:first-of-type a {
    transform: rotate(17deg);
    margin: 40px 75px 0 0;
    font-size: 35px;
}

nav li, .how div:last-of-type p {
    display: flex;
    align-items: center;
    justify-content: center;
} 

nav li:first-of-type {
    background-image: url(fotos/triangle.png);
    width: 318px;
    height: 252px;
    transform: rotate(9deg);
    margin-left: 10px;
}

nav li:nth-child(2) {
    background-image: url(fotos/cloud.png);
    height: 260px;
    width: 333px;
    margin-left: 50px;
    transform: rotate(-12deg);
}

nav li:last-of-type {
    width: 290px;
    height: 160px;
    background-color: #C2E812;
    border-radius: 50%;
    transform: rotate(6deg);
    margin-left: 30px;
}

/* HOW IT WORKS PAGINA */
.how section {
    grid-template-rows: 16px 80px 165px 40px 165px;
    margin-top: 9px;
}

/* plaatje */
.how div:first-of-type img {
    height: 109px;
    width: 87px;
    margin: 11px 0 0 280px;
    transform: rotate(-19deg);
}

/* eerste blokje */
.how div:nth-child(2) {
    background-image: url(fotos/one.png);
    width: 280px;
    height: 189px;  
}

.how div:nth-child(2) p {
    transform: rotate(2deg);
    margin-left: 17px;
}

.how div:nth-child(2) h4{
    margin: 25px 0 5px 35px;
    transform: rotate(5deg);
    color: #ff934f;
}

/* tweede blokje */
.how div:nth-child(3) {
    background-image: url(fotos/two.png);
    width: 298px;
    height: 208px;
    margin-left: 65px;     
}

.how div:nth-child(3) h4, .how div:nth-child(3) p {
    text-align: center;
    transform: rotate(12deg);
    margin-left: 10px;
}

.how div:nth-child(3) h4{
    margin-top: 35px;
    color: #0A7027;
}

/* derde blokje */
.how div:nth-child(4) {
    background-image: url(fotos/three.png);
    width: 302px;
    height: 205px;
    flex-wrap: wrap;
    display: flex;
}

.how div:nth-child(4) h4{
    transform: rotate(-29deg);
    margin: 60px 0 0 20px;
    color: #BFCBC2;
    height: fit-content;
}

/* kleur bolletjes */
.how div:last-of-type {
    width: 250px;
    height: 200px;
    transform: rotate(-29deg);
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    margin-left: 20px;
    text-align: center;
}
.how div:last-of-type p {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    transform: rotate(29deg);
}   

.how div:last-of-type p:nth-child(1){
    background-color: #ffe210;
    margin-top: 25px;
}

.how div:last-of-type p:nth-child(2){
    background-color: #37be12;
    margin-top: 5px;
}

.how div:last-of-type p:nth-child(3){
    background-color: #ca2a02;
    margin-top: 15px;
}

.how div:last-of-type p:nth-child(4){
    background-color: #ff8a21;
    margin-left: 90px;
    margin-bottom: 25px;
}

.how div:last-of-type p:nth-child(5){
    background-color: #5882e6;
    margin-top: 15px;
}

/* ABOUT STORE PAGINA */
.about section {
    grid-template-rows: 255px 0px 270px;
    margin-top: -55px;
    position: fixed;
    z-index: -1;
}

.about div:first-of-type {
    background-image: url(fotos/Asset\ 12.png);
    height: 271px;
    width: 359px;
    color: #ffffff;
}

.about div a {
    background-color: #BFCBC2;
    padding: 6px 13px 6px 13px;
    font-family: webS;
    text-decoration: none;
    color: black;
    margin-left: 110px;
}

.about div:first-of-type p {
    margin: 65px 0 20px 5px;
}

.about div:nth-child(2) img {
    height: 184.25px;
}

.about div:last-of-type {
    background-image: url(fotos/Asset\ 11.png);
    height: 270px;
    width: 320px;
    margin-left: 55px;
    z-index: -1;
}

.about div:last-of-type h4 {
    transform: rotate(-20deg);
    margin: 38px 0 0 59px;
    font-size: 11px;
}

.about div:last-of-type p:first-of-type {
    transform: rotate(-20deg);
    margin: 15px 0 0 65px;
}

.about div:last-of-type p:last-of-type {
    transform: rotate(-20deg);
    text-align: center;
    margin: 20px 0 0 70px;
}